@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
    font-family: 'roboto', arial, helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.main-container {
    width: 900px;
    height: 455px;
    background-color: #FFFFFF;
}

.main-container .secondary-container {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(5, auto);
    background-color: #F7F7F7;
    width: 900px;
    height: 415px;
}

.primary {
    grid-area: 1 / 1 / 6 / 5;
}

.main-container .secondary-container .primary .video {
    display: grid;
    background-color: #c4c4c4;
    width: 543px;
    height: 217px;
    margin-bottom: 12px;
    margin-top: 35px;
    margin-left: 35px;
}

.main-container .secondary-container .primary .title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 7px;
    margin-left: 35px;
}

.main-container .secondary-container .primary .data {
    font-size: 14px;
    font-weight: 300;
    margin-left: 35px;
}

.main-container .secondary-container .primary .description {
    font-size: 16px;
    font-weight: 300;
    max-width: 538px;
    max-height: 76px;
    margin-left: 35px;
    margin-top: 9px;
}

.secondary {
    grid-area: 1 / 5 / 6 / 7;
    margin-top: 35px;
}

.propaganda {
    display: flex;
    font-size: 11px;
    font-weight: 300;
    width: 270px;
    height: 56px;
    background-color: #c4c4c4;
    justify-content: center;
    align-items: center;
}

.secondary-title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}

.main-container .secondary-container .secondary .aside .box {
    width: 101px;
    height: 71px;
    background-color: #c4c4c4;
}

.main-container .secondary-container .secondary .aside {
    margin-top: 20px;
}

.main-container .secondary-container .secondary .aside p {
    font-size: 11px;
    font-weight: 300;
    padding: 1.5px;
}

.main-container .secondary-container .secondary .aside .information, 
.main-container .secondary-container .secondary .aside .box .information {
    display: inline;
    position: absolute;
    margin-left: 105px;
}

.main-container .secondary-container .secondary .aside .box {
    margin-bottom: 15px;
}